@import 'base/reset';
@import 'base/variables';
@import 'base/breakpoints';
@import 'components/scrollbar';

.bs-header {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  background-color: #2f364a;
  color: #fff;
}

.bs-dots__dot {
  float: left;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  border-radius: 50%;
}

.bs-dots__dot--red { background-color: #e76847; }

.bs-dots__dot--orange { background-color: #fabf00; }

.bs-dots__dot--blue { background-color: #52bea6; }

.bs-header__title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
  color: $main-grey;
	font-size: 12px;
}

.bs-header__title-icon {
	margin-right: 5px;
	font-size: 13px;
}

.bs-header__nav {
	margin-left: auto;
  display: flex;
  align-items: center;
}

.bs-header__nav-item {
	font-size: 13px;
	color: $main-grey;

	&:last-child {
		margin-right: 18px;

		&::before {
			content: '';
			display: inline-block;
			width: 4px;
			height: 4px;
			margin: 0 12px;
			border-radius: 50%;
			vertical-align: middle;
			background-color: #19202e;
		}
	}
}

.bs-user {
	position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 160px;
	background-color: $main-blue;
	padding: 0 22px 0 12px;
}

.bs-user__img {
  width: 31px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.bs-user__name {
	position: absolute;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	font-size: 13px;
	font-weight: 300;
}

.bs-user__chevron {
	font-size: 13px;
	cursor: pointer;
}

.bs-content-wrapper {
	display: flex;
	height: calc(100vh - 90px);
}

.bs-sidebar {
	flex: 0 0 200px;
	overflow: hidden; // remove in future
}	

.bs-bottom-line {
	height: 6px;
	border-top: 1px solid #0C111F;
	border-bottom: 1px solid #232B3F;
	background-color: #121A2A;
}

.bs-panel {
	background-color: $panel-bg-color;
	color: $main-grey;
}

.bs-add-book {
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bs-btn--add-book {
	display: inline-block;
	padding: 14px 19px;
	margin-bottom: 6px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	background-color: #f2795a;
	color: #fff;
}

.bs-btn__plus-icon {
	margin-right: 15px;
}

.bs-menu-list {
	max-height: 110px;
	overflow-y: scroll;
}

.bs-menu-list__item {
	position: relative;
	padding: 12px 21px 12px 44px;
	font-size: 13px;
	cursor: pointer;

	&:hover {
		background-color: $main-blue;	
	
		.bs-menu-list__link,
		.bs-menu-list__icon {
			color: #fff;
		}
	}
}

.bs-menu-list__icon {
	position: absolute;
	left: 21px;
}

.bs-menu-list__link {
	color: $main-grey;
}

.bs-book-types-list {
	max-height: 105px;
	overflow-y: scroll;
	padding: 15px 0 13px;
}

.bs-book-types-list__item {
	padding: 13px 25px;	
	font-size: 13px;

	&::before {
		content: '';
		display: inline-block;
		width: 6px;
		height: 6px;
		margin-right: 13px;
		vertical-align: middle;
		border-radius: 50%;
	}

	&:first-child::before { background-color: #e64c66; }

	&:nth-child(2)::before { background-color: #ffab00; }

	&:nth-child(3)::before { background-color: #00bfdd; }

	&:last-child::before { background-color: #7874cf; }
}

.bs-actions-list {
	max-height: 183px;
	overflow-y: scroll;
	background-color: $panel-bg-color;
	color: $main-grey;
}

.bs-actions-list__item {
	padding: 39px 20px 0;
	display: flex;
	color: #535D75;
	align-self: flex-end;

	&:last-child {
		padding-bottom: 39px;
	}
}

.bs-actions-list__icon {
	font-size: 14px;
	margin-right: 10px;
}

.bs-actions-list__desc {
	margin: 0 0 17px;
	font-size: 12px;
	line-height: 1.5;

	span {
		color: $main-grey;
	}
}

.bs-actions-list__time {
	font-size: 12px;
}

.bs-content {
	overflow-y: scroll;
	height: auto; 
	outline: none;
}

.bs-footer {
	display: flex;
	justify-content: flex-end;
	height: $footer-height;
  background-color: #181e2c;
}

.bs-footer__icons {
	height: 100%;
} 

.bs-footer__icon {
	float: left;
	width: 55px;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
}

.bs-footer__icon--dark {
	background-color: #1f2637;
}

.bs-footer__icon--blue {
	background-color: $main-blue;
}



















